/*Global*/
/*.hide-submit button[type=submit]{display:none;}*/
.show{display:block;padding:5px;margin:15px;}

/*Report Header*/
#report-header{width:100%;background-color:#BEBEBE;padding:15px 0 20px 0;}
#report-header h2{margin:0;}
.report-header-details{position:absolute;width:100%;}
button.saved-reports {padding:0 50px 0 10px;}
.logo h3{margin:5px 5px 5px 40px}
/*Report Features*/
.report-feat{margin: 10px 10px 25px 7px;}
button.new-item{margin:10px}
.report-form-container{padding:11px;}

/*Slider*/
.slider-container {margin:0 auto; padding:20px; width:80%;}

/*Burger Menu*/
/* Position and sizing of burger button */
.bm-burger-button {position:fixed; width:20px; height:18px; left:26px; top:26px;}
/* Color/shape of burger icon bars */
.bm-burger-bars {background:#373a47;}
/* Position and sizing of clickable cross button */
.bm-cross-button {height:24px; width:24px;}
/* Color/shape of close button cross */
.bm-cross {background:#bdc3c7;}
/* General sidebar styles */
.bm-menu {background:#373a47; padding:2.5em 1.5em 0; font-size:1.15em;}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {fill:#373a47;}
/* Wrapper for item list */
.bm-item-list {color:#b8b7ad; padding:0.8em;}
/* Styling of overlay */
.bm-overlay {background: rgba(0, 0, 0, 0.3);}
